[submodule "widgets/pullToRefresh"]
	path = widgets/pullToRefresh
	url = git://github.com/FokkeZB/nl.fokkezb.pullToRefresh.git
[submodule "widgets/dynamicScrolling"]
	path = widgets/dynamicScrolling
	url = git://github.com/FokkeZB/nl.fokkezb.dynamicScrolling.git
[submodule "widgets/cachedImageView"]
	path = widgets/cachedImageView
	url = git://github.com/FokkeZB/nl.fokkezb.cachedImageView.git
